<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>eAlert System</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <img id="logo" src="PAL_BlueTexture.png">
    <div id="adj-form-container">
        <form id="adj-form" method="POST" action="/ealert">
            <input class="mainform-input" name="email" placeholder="Admin Email" type="text">
            <input class="mainform-input" name="password" placeholder="Password" type="password">
            <input class="bin-search-button" type="submit" value="Submit">
        </form>
    </div>
  </body>
</html>